@using DataAccessLayer.Enums
@using WebUI.FullFramework.Core
@using WebUI.FullFramework.Helpers
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Manager</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")">Work Server</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="@Html.IsSelected(actions: "Index", controllers: "IIS", cssClass: "active")">
                    <a href="@Url.Action("Index","IIS")">Sites & Applications</a>
                </li>
                <li class="@Html.IsSelected(actions: "Index", controllers: "Redis", cssClass: "active")">
                    <a href="#">Redis</a>
                </li>
                <li>
                    <a href="#">Remote shell</a>
                </li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Действие</a></li>
                        <li><a href="#">Другое действие</a></li>
                        <li><a href="#">Что-то еще</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Отдельная ссылка</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Еще одна отдельная ссылка</a></li>
                    </ul>
                </li> -->
            </ul>
            <!-- <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Отправить</button>
            </form> -->
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#">Ссылка</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Настройки
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        @if (IdentityHelper.IsUserInRole(Role.Admin, Role.Developers))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Account")">Администрирование</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Settings")">Настройки</a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("Edit", "Account", new {email = HttpContext.Current.User.Identity.Name})">Мой аккаунт</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout", "Account")">Выход</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
@Scripts.Render("~/bundles/jquery")
    @RenderBody()

    <script src="https://unpkg.com/frappe-charts@0.0.7/dist/frappe-charts.min.iife.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
