@model IEnumerable<BLL.Dto.UserDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="container-fluid">
    <div class="row">
        <div class="actionBar">
            <p class="actionBarElement">Find users:</p>
            <div class="actionBarElement">
                <input type="text" class="input-text"/>
            </div>
            <button class="ts-btn ts-btn-mini actionBarElement">
                Filter
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="block-center" style="width: 90%;">
            <a class="ts-btn" href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-plus"></span> Add new user</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="userTable">
            <table class="userList dark">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @if (Model.Any())
                {
                    foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.Name</td>
                            <td>@user.UserName</td>
                            <td>@user.Role</td>
                            <td>
                                <div class="action-dropdown">
                                    <div class="toolbarItem text-center" data-toggle="dropdown">
                                        <span class="btn-group" id="sp_span_bcActions">
                                            <button class="ts-btn ts-btn-mini"
                                                    type="button"
                                                    onclick="showUserActionPopup('popup_@user.Id')"
                                                    data-user-email="@user.Email"
                                                    data-user-id="@user.Id"
                                                    data-toggle="dropdown">
                                                Actions <span class="glyphicon glyphicon-chevron-down"></span></button>
                                        </span>
                                    </div>
                                    <div id="popup_@user.Id" class="dropdown-content">
                                        <a href="@Url.Action("Edit", "Account", new {email = user.Email})">Open</a>
                                        @if (user.IsEnabled)
                                        {
                                            <a href="#" onclick="disableUser('@user.Id', @user.IsEnabled)">Disable</a>
                                        }
                                        else
                                        {
                                            <a href="#" onclick="disableUser('@user.Id', @user.IsEnabled)">Enable</a>
                                        }

                                        <a href="#" onclick="deleteUser('@user.Id')">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">Данных</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>

@Scripts.Render("~/Scripts/Custom/AdminPageUtils.js")
@Scripts.Render("~/Scripts/Custom/AjaxPost.js")

<script>
    var ajaxPost = AjaxPost();

    function showUserActionPopup(dropdownId) {
        document.getElementById(dropdownId).classList.toggle("show");
    }

    function disableUser(userId, status) {
        if (confirm('Вы уверены что хотите деактивировать пользователя?')) {
            const url = `@Url.Action("SetUserEnableStatus", "Account")?id=${userId}&status=${!status}`;
            ajaxPost.post(url);
        }
    }

    function deleteUser(userId) {
        if (confirm('ВНИМАНИЕ! Вы уверены что хотите УДАЛИТЬ пользователя?')) {
            const url = `@Url.Action("DeleteUser", "Account")?id=${userId}`;
            ajaxPost.post(url);
        }
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
