@model BLL.Dto.UserDTO
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="container-fluid">
    <div class="block-center" style="width: 90%">
        @using (Html.BeginForm("Edit", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row line">
                <p class="col-md-2">Email</p>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-text col-md-4" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger col-md-4" })
            </div>
            <div class="row line">
                <p class="col-md-2">Name</p>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-text col-md-4" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger col-md-4" })
            </div>
            if (ViewBag.IsAdmin)
            {
                 <div class="row line">
                     <p class="col-md-2">User enable status</p>
                     @Html.EditorFor(model => model.IsEnabled, new { htmlAttributes = new { @class = "col-md-4" } })
                     @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger col-md-4" })
                 </div>
            }
            <div class="row line">
                <p class="col-md-2">System role</p>
                @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "col-md-4", disable = "disable" } })
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger col-md-4" })
            </div>
            <br/>
            if (ViewBag.IsOwner || ViewBag.IsAdmin)
            {
                <button type="submit" class="ts-btn submitButton">Change password</button>
            }
            if (ViewBag.IsAdmin)
            {
                <button type="submit" class="ts-btn submitButton">Change role</button> 
            }
            <br/><br/>
            <button type="submit" class="ts-btn-primary submitButton">Save</button>
        }
    </div>
</section>

