@model IEnumerable<DataAccessLayer.Entities.ActionLog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="container-fluid">
    <div class="row">
        <div class="actionBar">
            <p class="actionBarElement">Find setting:</p>
            <div class="actionBarElement">
                <input type="text" class="input-text" />
            </div>
            <button class="ts-btn ts-btn-mini actionBarElement">
                Filter
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="userTable">
            <table class="userList dark">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Controller</th>
                        <th>ActionParams</th>
                        <th>OriginalUrl</th>
                        <th>UserHost</th>
                        <th>UserAgent</th>
                        <th>HttpMethod</th>
                        <th>Form</th>
                        <th>Query</th>
                        <th>Referer</th>
                        <th>Headers</th>
                        <th>Cookies</th>
                        <th>UserName</th>
                        <th>StartExecution</th>
                        <th>FinishExecution</th>
                        <th>ExecutionTime</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var actionLog in Model)
                        {
                            <tr>
                                <td>@actionLog.Action</td>
                                <td>@actionLog.Controller</td>
                                <td>@actionLog.ActionParams</td>
                                <td>@actionLog.OriginalUrl</td>
                                <td>@actionLog.UserHost</td>
                                <td>@actionLog.UserAgent</td>
                                <td>@actionLog.HttpMethod</td>
                                <td>@actionLog.Form</td>
                                <td>@actionLog.Query</td>
                                <td>@actionLog.Referer</td>
                                <td>@actionLog.Headers</td>
                                <td>@actionLog.Cookies</td>
                                <td>@actionLog.UserName</td>
                                <td>@actionLog.StartExecution</td>
                                <td>@actionLog.FinishExecution</td>
                                <td>@actionLog.ExecutionTime</td>
                                @*<td>
                                    <div class="toolbarItem text-center" data-toggle="dropdown">
                                        <span class="btn-group" id="sp_span_bcActions">
                                            <a class="ts-btn ts-btn-mini"
                                               type="button"
                                               onclick="showUserActionPopup('popup_@setting.Id')"
                                               data-setting-code="@setting.Code"
                                               data-setting-id="@setting.Id"
                                               data-toggle="dropdown">
                                                Open
                                            </a>
                                        </span>
                                    </div>
                                </td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Нет данных</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    var ajaxPost = AjaxPost();

    function showUserActionPopup(dropdownId) {
        document.getElementById(dropdownId).classList.toggle("show");
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
