@model IEnumerable<DataAccessLayer.Entities.ActionLog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="container-fluid">
    <div class="row">
        <div class="actionBar">
            <p class="actionBarElement">Find setting:</p>
            <div class="actionBarElement">
                <input type="text" class="input-text" />
            </div>
            <button class="ts-btn ts-btn-mini actionBarElement">
                Filter
            </button>
            <dd>
                <div class="mutliSelect" id="multi-select">
                    <ul>
                    
                    </ul>
                </div>
            </dd>
            <div class="button-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
                <ul class="dropdown-menu" id="change-coll-visible">
                    <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 1</a></li>
                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 2</a></li>
                    <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 3</a></li>
                    <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
                    <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 5</a></li>
                    <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 6</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="userTable">
            <table class="userList dark" id="action-logs-table">
                <thead>
                    <tr>
                        <th class="coll">Action</th>
                        <th class="coll">Controller</th>
                        <th class="coll">ActionParams</th>
                        <th class="coll">OriginalUrl</th>
                        <th class="coll">UserHost</th>
                        <th class="coll">UserAgent</th>
                        <th class="coll">HttpMethod</th>
                        <th class="coll">Form</th>
                        <th class="coll">Query</th>
                        <th class="coll">Referer</th>
                        <th class="coll">Headers</th>
                        <th class="coll">Cookies</th>
                        <th class="coll">UserName</th>
                        <th class="coll">StartExecution</th>
                        <th class="coll">FinishExecution</th>
                        <th class="coll">ExecutionTime</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var actionLog in Model)
                        {
                            <tr>
                                <td>@actionLog.Action</td>
                                <td>@actionLog.Controller</td>
                                <td>@actionLog.ActionParams</td>
                                <td>@actionLog.OriginalUrl</td>
                                <td>@actionLog.UserHost</td>
                                <td>@actionLog.UserAgent</td>
                                <td>@actionLog.HttpMethod</td>
                                <td>@actionLog.Form</td>
                                <td>@actionLog.Query</td>
                                <td>@actionLog.Referer</td>
                                <td>@actionLog.Headers</td>
                                <td>@actionLog.Cookies</td>
                                <td>@actionLog.UserName</td>
                                <td>@actionLog.StartExecution</td>
                                <td>@actionLog.FinishExecution</td>
                                <td>@actionLog.ExecutionTime</td>
                                @*<td>
                                    <div class="toolbarItem text-center" data-toggle="dropdown">
                                        <span class="btn-group" id="sp_span_bcActions">
                                            <a class="ts-btn ts-btn-mini"
                                               type="button"
                                               onclick="showUserActionPopup('popup_@setting.Id')"
                                               data-setting-code="@setting.Code"
                                               data-setting-id="@setting.Id"
                                               data-toggle="dropdown">
                                                Open
                                            </a>
                                        </span>
                                    </div>
                                </td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Нет данных</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    var hideElements = [];
    var visibleElements = [];

    function initColumsFilterSelect() {
        var tableCols = $("#action-logs-table thead tr th");
        var multiSelect = $("#multi-select ul");

        $.each(tableCols,
            function(key, item) {
                var $li = $("<li></li>");
                var $input = $("<input/>");

                $input.attr("type", "checkbox");
                $input.attr("checked", "checked");
                $input.val(item.outerText);
                $li.append($input);
                $li.append(item.outerText);

                multiSelect.append($li);
                visibleElements.push(item.outerText);
            });
    };

    var options = [];

    $('#change-coll-visible a').on('click', function(event) {

        var $target = $(event.currentTarget),
            val = $target.attr('data-value'),
            $inp = $target.find('input'),
            idx;

        if ((idx = options.indexOf(val)) > -1) {
            options.splice(idx, 1);
            setTimeout(function() {$inp.prop('checked', false)}, 0);
        } else {
            options.push(val);
            setTimeout(function() { $inp.prop( 'checked', true ) }, 0);
        }

        $(event.target).blur();
      
        console.log(options);
        return false;
    });

    function initVisibleColls(elems) {
        $.each(elems,
            function(key, item) {
                $(`#action-logs-table tbody tr td:nth-child(${$(`#action-logs-table thead tr th.coll:contains(${item})`).index() + 1})`).hide();
            });
    };

    //initColumsFilterSelect();
    initVisibleColls(hideElements);
</script>
