@model IEnumerable<MssqlManager.Dto.FeatureDto>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Список фич</h3>
    </div>
    <div class="panel-body">
        <div class="row" id="saveFeaturesBlock">
            <div class="col-sm-12">
                <button id="saveFeaturesButton" class="btn btn-info">Сохранить фичи</button>
            </div>
        </div>
        <br/>
        <table class="table table-hover featuresTable">
            <tr>
                <td class="col3">
                    <strong>Id</strong>
                </td>
                <td>
                    <strong>Name</strong>
                </td>
                <td>
                    <strong>State</strong>
                </td>
            </tr>
            @foreach (var feature in Model)
            {
                <tr>
                    <td>@feature.Id</td>
                    <td>@feature.Code</td>
                    <td>
                        <select class="featureControl" data-feature-id="@feature.Id">
                            @if (feature.State)
                            {
                                <option selected="selected" value="true">Включено</option>
                                <option value="false">Выключено</option>
                            }
                            else
                            {
                                <option value="true">Включено</option>
                                <option selected="selected" value="false">Выключено</option>
                            }
                        </select>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@Scripts.Render("~/Scripts/Custom/FeatureManager.js")

<script>
    var featuresSaveUrl = "@Url.Action("SaveFeatures", "IIS")";
    var featureManager = new FeatureManager();
    featureManager.initializeChangeEvents();

    $("#saveFeaturesButton").click(function() {
        featureManager.saveFeatures(featuresSaveUrl);
    });
</script>
