@using WebUI.FullFramework.Enums
@using WebUI.FullFramework.Helpers

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/JsTree.min.css")
<section class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Сервер: B-STEfaniuk(TSCRM)</h3>
                </div>
                <div class="panel-body">
                    <div id="jstree">
                        @Html.GetJsTreeMenu();
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="">
                <blockquote>
                    <p>@ViewBag.Name</p>
                </blockquote>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Действия</h3>
                </div>
                <div class="panel-body">
                    <div class="IISButton text-center @(ViewBag.ActionViewType == IISViewActionType.InformationComponent ? "IISButtonSelected" : "")">
                        <a href="@Url.Action("Index", "IIS", new { viewActionType = IISViewActionType.InformationComponent })">
                            <img src="@Url.Content("~/Resources/Images/StatusInformation_16x.svg")" 
                                 alt=""
                                 class="IISButtonIco">
                            <p class="text-center">
                                Информация
                                <br>i
                            </p>
                        </a>
                    </div>
                    <div class="IISButton text-center">
                        <a href="#">
                            <img src="@Url.Content("~/Resources/Images/StatusPause_cyan_16x.svg")"
                                 alt=""
                                 class="IISButtonIco">
                            <p class="text-center">Остановить пулл</p>
                        </a>
                    </div>
                    <div class="IISButton text-center">
                        <a href="#">
                            <img src="@Url.Content("~/Resources/Images/StatusRun_16x.svg")"
                                 alt=""
                                 class="IISButtonIco">
                            <p class="text-center">Запустить пулл</p>
                        </a>
                    </div>
                    <div class="IISButton text-center">
                        <a href="#">
                            <img src="@Url.Content("~/Resources/Images/Refresh_16x.svg")"
                                 alt="" 
                                 class="IISButtonIco">
                            <p class="text-center">
                                Рестарт
                                <br>пулла
                            </p>
                        </a>
                    </div>
                    <div class="IISButton text-center">
                        <a href="#">
                            <img src="@Url.Content("~/Resources/Images/AzureRedisCache_color_16x.svg")"
                                 alt="" 
                                 class="IISButtonIco">
                            <p class="text-center">Очистить Redis</p>
                        </a>
                    </div>
                    <div class="IISButton text-center @(ViewBag.ActionViewType == IISViewActionType.ConnectionStringsComponent ? "IISButtonSelected" : "")">
                        <a href="@Url.Action("Index", "IIS", new { viewActionType = IISViewActionType.ConnectionStringsComponent })">
                            <img src="@Url.Content("~/Resources/Images/DatabaseSetting_16x.svg")" 
                                 alt=""
                                 class="IISButtonIco">
                            <p class="text-center">Строки подключений</p>
                        </a>
                    </div>
                    <div class="IISButton text-center @(ViewBag.ActionViewType == IISViewActionType.ConfigFileComponent ? "IISButtonSelected" : "")">
                        <a href="@Url.Action("Index", "IIS", new { viewActionType = IISViewActionType.ConfigFileComponent })">
                            <img src="@Url.Content("~/Resources/Images/ConfigurationFile_16x.svg")"
                                 alt=""
                                 class="IISButtonIco">
                            <p class="text-center">
                                Конфиг.
                                <br> файл
                            </p>
                        </a>
                    </div>
                    <div class="IISButton text-center @(ViewBag.ActionViewType == IISViewActionType.FeaturesComponent ? "IISButtonSelected" : "")">
                        <a href="@Url.Action("Index", "IIS", new { viewActionType = IISViewActionType.FeaturesComponent })">
                            <img src="@Url.Content("~/Resources/Images/MagicWand_16x.svg")" 
                                 alt=""
                                 class="IISButtonIco">
                            <p class="text-center">
                                Список
                                <br>фич
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="IISPageComponentContainer">
                @switch ((IISViewActionType)ViewBag.ActionViewType)
                {
                    case IISViewActionType.InformationComponent:
                        Html.RenderAction("GetInformationComponent", "IIS", new { path = ViewBag.Name, siteType = ViewBag.SiteType });
                        break;
                    case IISViewActionType.ConnectionStringsComponent:
                        Html.RenderAction("GetConnectionStringsComponent", "IIS");
                        break;
                    case IISViewActionType.FeaturesComponent:
                        Html.RenderAction("GetFeaturesComponent", "IIS");
                        break;
                    case IISViewActionType.ConfigFileComponent:
                        Html.RenderAction("GetConfigurationFileComponent", "IIS");
                        break;
                }
            </div>
        </div>
    </div>
</section>
@section scripts {
    @Scripts.Render("~/Scripts/jstree.min.js")
    @Scripts.Render("~/Scripts/Custom/LoadJsTree.js")
    @Scripts.Render("~/Scripts/Custom/IISPageComponens.js")

    <script>
        $("#jstree").jstree().bind("select_node.jstree", function (e, data) {
            var href = data.node.a_attr.href;
            document.location.href = href;
        });
    </script>
}
